/*
light peach: eeebe2
coral: d35b48
*/

/* GLOBAL STYLES 
-------------------------------------------------*/
body#sunny {
	background-color: #6dcff6;
	font-family: "Ariel", "Helvetica", "sans-serif";
	font-size: 24px;
	color: #fff;
	position: relative;
	background-image: url("../img/bg_blue5.png");
background-repeat: repeat;
}

body#not-sunny {
background-image: url("../img/bg_notsunny.png");
background-repeat: repeat;
	font-family: "Ariel", "Helvetica", "sans-serif";
	font-size: 24px;
	color: #fff;
	position: relative;
}

.set-content {
	margin: 0 auto;
	width: 940px;
	position: relative;
}

.bold {
	font-weight: bold;
}

h1 {
	font-size: 88px; 
	margin-bottom: 10px;
}

h1, h2 {
	text-align: center;
}

#sunny #main-content {
	width: 600px;
	margin: 0 auto;
	background-image: url("../img/sun.png");
	background-repeat: no-repeat;
	height: 481px;
	padding: 30px 30px 30px 30px;
	background-position: top center;
}

#not-sunny #main-content {
	width: 600px;
	margin: 0 auto;
	background-image: url("../img/clouds3.png");
	background-repeat: no-repeat;
	height: 364px;
	padding: 30px 30px 30px 30px;
	background-position: center;
}

#sunny #text {
	margin-top: 170px;
}

#not-sunny #text {
	margin-top: 150px;
}





/* FOOTER ----------------------------------------*/

#sunny #footer {
	height: 299px;
	background-image: url("../img/trees_green.png");
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	}
	
#not-sunny #footer {
	height: 299px;
	background-image: url("../img/trees_blck.png");
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	}
	
#sunny #bottom-bar {
	height: 30px;
	background-color: #078439;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

#not-sunny #bottom-bar {
	height: 30px;
	background-color: #231f20;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}


