<!DOCTYPE HTML>
<html>
<head>
<title>Is it Sunny in PDX?</title>
<link rel="stylesheet" href="css/reset.css" media="screen, projection" />
<link rel="stylesheet" href="css/global.css" media="screen, projection" />
</head>

<body id="not-sunny">

<div class="set-content">


<div id="main-content">
	<div id="text">
		<h1>No</h1>
	</div>
</div>	
	
<div id="footer">
<!-- 	<p>by Eli and Brianne</p> -->
</div>

</div><!-- end set-content -->

<div id="bottom-bar"></div>

</body>
</html>